# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.development
.env.production

# Logs
logs
*.log
*.gz

# OS-specific
.DS_Store
Thumbs.db

# Optional: build artifacts (경우에 따라)
dist/
build/
